<%= content_tag(:div, flash[:notice], :class=> "alert alert-danger") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :class=> "alert alert-danger") if flash[:alert] %>

<div id="margin-pad" class="panel panel-default shadow">
  <div class="panel-body">
		
		<h1 class="text-center">This is Pinteresting</h1>

			<% if user_signed_in? %>
			<div id="center" class="row voffset4">
  			
			</div>
			  <% else %>
				<div id="center" class="row voffset4">
  			<%= link_to "Create an account", new_user_registration_path, class: "homeButton btn btn-primary btn-lg" %>
			</div>
			<% end %>


	</div>
</div>
</div>