.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

#center {
    text-align: center;
}

#margin-pad{
	padding:25px 0px 25px 0px;
}

.homeButton{
	width: 100px;
}

.shadow{
	box-shadow: 2px 2px 2px #888888;
}

.navbar-brand {
    float:none;
    margin-top:3px;
}

.zindex{
	z-index:100;
}

.navbar-test{
position: relative;
float: right;
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}