#center {
    text-align: 		center;
}

#logo{
	font-family: 			"bello-pro";
	font-size:				24px;
}

#margin-pad{
	padding:					25px 0px 25px 0px;
}


.navbar-brand{
	text-align:				center;
}

#login{
	margin-top:				4px;
}

.hover_edit{
	  position:absolute;
    top:10px;
    right:10px;
    display: none;
}

.box:hover .hover_edit{
display:block;
};