<div class="navbar navbar-inverse row shadow hidden-xs">
  <div class="container">
  <div class="col-xs-4 center hidden-phone">
  </div>
  <div class="col-xs-4 center"><h4><%= link_to "Pinteresting", root_path, :class => "center", :id => "logo" %></h4>
  </div>
  <div class="col-xs-4 right no-padding" id="login">
    <button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>
  </div>
</div>
</div>

<div class="navbar navbar-inverse row shadow visible-xs">
  <div class="container">
  <div class="col-xs-6"><h4><%= link_to "Pinteresting", root_path, :id => "logo" %></h4>
  </div>
  <div class="col-xs-6 right" id="login">
    <button type="button" class="btn btn-default"><%= link_to "Log in", login_path %></button>
  </div>
  </div>
</div>