<nav class="navbar navbar-inverse navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    
    <button type="button" class="zindex navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="navbar-collapse">
      <ul class="nav nav-justified">
        <li>
          <%= link_to "Pinteresting", root_path, :class => "navbar-brand" %>
        </li>
      </ul>
    </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav zindex navbar-test navbar-nav navbar-right">
      <li><%= link_to "Log in", login_path %></li> 
    </ul>
  </div><!-- /.navbar-collapse -->

</nav>